<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Angular Gantt - Gantt chart component for AngularJS (Demo)</title>
    <meta name="description" content="Gantt chart component for AngularJS">
    <meta name="viewport" content="width=device-width">

    <link rel="canonical" href="https://www.angular-gantt.com/">
    <link rel="shortcut icon" href="http://www.angular-gantt.com/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <meta property="og:title" content="Angular Gantt (Demo)" />
    <meta property="og:description" content="Gantt chart component for AngularJS" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.angular-gantt.com/demo/" />
    <meta property="og:image" content="https://www.angular-gantt.com/img/angular-gantt.png" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
    <link rel="stylesheet" href="bower_components/angular-gantt/assets/angular-gantt.css" />
    <link rel="stylesheet" href="bower_components/angular-gantt/assets/angular-gantt-plugins.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/ownStyle.css">
    <!-- endbuild -->

</head>
<body ng-app="angularGanttDemoApp" ng-strict-di>

<div ng-controller="MainCtrl as ganttChartCtrl">
    <div class="navbar navbar-default" role="navigation" bs-navbar>
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.angular-gantt.com">angular-gantt - Gantt chart component for AngularJS</a>
        </div>
        <div class="navbar-right navbar-right-spacing">
            <a class="navbar-text navbar-link" href="http://www.angular-gantt.com"><i class="fa fa-book"></i> Documentation</a>
            <a class="navbar-text navbar-link" href="https://github.com/angular-gantt/angular-gantt"><i class="fa fa-github"></i> GitHub</a>
        </div>
    </div>

    <div class="container-content" ng-show="false">
        <div class="container-fluid">
            <div class="row top-buffer">
                <div class="col-md-12">
                    <i class="fa fa-cog fa-spin"></i> Loading angular-gantt demo ...
                </div>
            </div>
        </div>
    </div>

    <div class="container-content" ng-cloak="true">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" bs-collapse>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="" bs-collapse-toggle>ganttChartCtrl.Options</a>
                                </h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-12">
                    <div class="panel-group" bs-collapse>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="panel-title">
                                            <a href="" bs-collapse-toggle>Gantt</a>
                                        </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-4">
                                            <input type="radio" name="view" id="plan"
                                                ng-model="ganttChartCtrl.viewSelected" value="plan"
                                                ng-change="ganttChartCtrl.updateView()">
                                            <label for="plan">Plan</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="radio" name="view"
                                                id="control" ng-model="ganttChartCtrl.viewSelected"
                                                value="control"
                                                ng-change="ganttChartCtrl.updateView()">
                                            <label for="control">Control</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="radio" name="view" id="both"
                                                ng-model="ganttChartCtrl.viewSelected" value="both"
                                                ng-change="ganttChartCtrl.updateView()">
                                            <label for="both">Both</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4">

                                        <div class="col-md-1">
                                           <i class="fa fa-link link-icons" aria-hidden="true" ng-click="ganttChartCtrl.linkTasks()"></i>
                                        </div>

                                        <div class="col-md-1">
                                          <i class="fa fa-chain-broken link-icons" aria-hidden="true" ng-click="ganttChartCtrl.unLinkTasks()"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <button ng-click="ganttChartCtrl.options.daily = !ganttChartCtrl.options.daily">Daily</button>

                            <div class="panel-collapse" bs-collapse-target>
                                <div class="panel-body">
                                    <div gantt
                                         column-magnet="'1 day'"
                                         data="ganttChartCtrl.data"
                                         timespans="ganttChartCtrl.timespans"
                                         show-side="ganttChartCtrl.options.labelsEnabled"
                                         daily="ganttChartCtrl.options.daily"
                                         filter-task="{'name': ganttChartCtrl.options.filterTask}"
                                         filter-row="{'name': ganttChartCtrl.options.filterRow}"
                                         sort-mode="ganttChartCtrl.options.sortMode"
                                         view-scale="ganttChartCtrl.options.scale"
                                         column-width="ganttChartCtrl.getColumnWidth(ganttChartCtrl.options.width, ganttChartCtrl.options.scale, ganttChartCtrl.options.zoom)"
                                         auto-expand="ganttChartCtrl.options.autoExpand"
                                         task-out-of-range="ganttChartCtrl.options.taskOutOfRange"
                                         from-date = "ganttChartCtrl.options.fromDate"
                                         to-date = "ganttChartCtrl.options.toDate"
                                         allow-side-resizing = "ganttChartCtrl.options.allowSideResizing"
                                         task-content = "ganttChartCtrl.options.taskContentEnabled ? ganttChartCtrl.options.taskContent : undefined"
                                         row-content = "ganttChartCtrl.options.rowContentEnabled ? ganttChartCtrl.options.rowContent : undefined"
                                         current-date="ganttChartCtrl.options.currentDate"
                                         current-date-value="ganttChartCtrl.options.currentDateValue"
                                         headers="ganttChartCtrl.options.width && ganttChartCtrl.options.shortHeaders || ganttChartCtrl.options.longHeaders"
                                         max-height="ganttChartCtrl.options.maxHeight && 300 || 0"
                                         time-frames="ganttChartCtrl.options.timeFrames"
                                         date-frames="ganttChartCtrl.options.dateFrames"
                                         time-frames-working-mode="ganttChartCtrl.options.timeFramesWorkingMode"
                                         time-frames-non-working-mode="ganttChartCtrl.options.timeFramesNonWorkingMode"
                                         time-frames-magnet="ganttChartCtrl.options.timeFramesMagnet"
                                         api="ganttChartCtrl.options.api"
                                         column-magnet="ganttChartCtrl.options.columnMagnet">
                                        <gantt-tree enabled="ganttChartCtrl.options.sideMode === 'Tree' || ganttChartCtrl.options.sideMode === 'TreeTable'"
                                                    header-content="ganttChartCtrl.options.treeHeaderContent"
                                                    keep-ancestor-on-filter-row="true">
                                        </gantt-tree>
                                        <gantt-table enabled="ganttChartCtrl.options.sideMode === 'Table' || ganttChartCtrl.options.sideMode === 'TreeTable'"
                                                     columns="ganttChartCtrl.options.sideMode === 'TreeTable' ? ganttChartCtrl.options.treeTableColumns : ganttChartCtrl.options.columns"
                                                     headers="ganttChartCtrl.options.columnsHeaders"
                                                     classes="ganttChartCtrl.options.columnsClasses"
                                                     formatters="ganttChartCtrl.options.columnsFormatters"
                                                     contents="ganttChartCtrl.options.columnsContents"
                                                     header-contents="ganttChartCtrl.options.columnsHeaderContents">
                                        </gantt-table>
                                        <gantt-groups display="ganttChartCtrl.options.groupDisplayMode"></gantt-groups>
                                        <gantt-tooltips></gantt-tooltips>
                                        <gantt-task-line enabled="ganttChartCtrl.options.baseline"></gantt-task-line>
                                        <gantt-bounds></gantt-bounds>
                                        <gantt-progress enabled="ganttChartCtrl.options.progress"></gantt-progress>
                                        <gantt-sortable></gantt-sortable>
                                        <gantt-movable enabled="!ganttChartCtrl.options.readOnly"  allow-row-switching="false"></gantt-movable>
                                        <gantt-resize-sensor></gantt-resize-sensor>
                                        <gantt-dependencies
                                            enabled="ganttChartCtrl.options.dependencies.enabled"
                                            read-only="ganttChartCtrl.options.readOnly"
                                            js-plumb-defaults ="ganttChartCtrl.options.jsPlumbDefaults">
                                        </gantt-dependencies>
                                        <gantt-groups-dependencies></gantt-groups-dependencies>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID
 <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-XXXXX-X');
   ga('send', 'pageview');
</script>
-->

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/angular-native-dragdrop/draganddrop.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-gantt/assets/angular-gantt.js"></script>
<script src="bower_components/angular-gantt/assets/angular-gantt-plugins.js"></script>
<script src="bower_components/moment-range/dist/moment-range.js"></script>
<script src="bower_components/css-element-queries/src/ElementQueries.js"></script>
<script src="bower_components/css-element-queries/src/ResizeSensor.js"></script>
<script src="bower_components/jsPlumb/dist/js/jsPlumb-2.0.7.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/services/sample.js"></script>
<script src="scripts/services/utils.js"></script>
<script src="scripts/services/FSDependencies.js"></script>
<script src="scripts/services/resizeDependencies.js"></script>
<script src="scripts/services/ViewService.js"></script>
<script src="scripts/services/Linker.js"></script>

<!-- endbuild -->
</body>
</html>
